<div class="row">
  <!-- colonne droite -->
  <div class="small-3 columns " id="boxright" style="border: 2px solid green;">
   <div class="row" id="boxtitle">
    	<div class="small-12" >
    		<div id="titlebottom">
    		     Chorale choeur de joie
    		          du puteaux	
    		</div>	
    		<div class="row" id="boxintroduction">
    			<div class="small-12">
    				    <center>	
    		          <div id="espace"></div>
    		        </center>
    		        <div id="introbottom">
    		        	<div id="sizefont">  Bienvenus </div>
                  La Chorale Chœur de Joie vous accompagne et accompagne ses membres dans les évènements joyeux ou douloureux de la vie.
    				          	
    		        </div>
                <div id="line"></div>
                <div id="contacteznousfont">  Contactez-nous </div>
                <div id="contacteznous">
                  Chorale Chœur de Joie est disponible pour des spectacles dans lÎle-de-France et au-delà.
                </div>
                <div id="line"></div>
                <div id="contacteznousfont">  Rejoignez-nous </div>
                <div id="contacteznous">
                  Vous souhaitez vous joindre à d'autres, pour travailler votre voix, chanter à plusieurs voix,apprendre de nouveaux chants ? contactez-nous et rejoignez-nous !
                </div>
    			</div>
    		</div>
    	</div>
    </div>
  </div>

<!-- colonne  gauche -->
  <div>
    
  
  <div class="small-11 large-offset-1 " id="leftbox" style="border: 2px solid red;">  	
    <div class="content">
      <div class="navcontent" id="top">
          <ul> 
            
            <li><a href="#">Connexion</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Photos</a></li>
            <li><a href="#">Concert</a></li>
            <li><a href="#" >Accueil</a></li>
          </ul>
      </div>
      <br><br>
     
    <div id="contentbloc"> 
      <center><%= image_tag "admin.png" %></center>
        <form id="form"> 
          <div class="group">      
            <input type="text" required >
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Email</label>
          </div>
    
          <div class="group">      
            <input type="password" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Mot de passe</label>
          </div>  
           <div class="group">
             <input type="submit" value="Connexion" id="button"/> 
          </div>

           <div class="group">       
            <span class="highlight"></span>
            <span class="bar"></span>
            <br><br><br>
            <center>
              <label style="color: red">Page reservé aux administrateurs du site</label>
            </center>
          </div>
          
       </form>

         
    
      
       
       
   </div>
  

  </div>
  </div>
  </div>


</div> <!-- page  -->
