<div class="row">
  <!-- colonne droite -->
  <div class="small-3 columns " id="boxright" style="border: 2px solid green;">
   <div class="row" id="boxtitle">
    	<div class="small-12" >
    		<div id="titlebottom">
    		     Chorale choeur de joie
    		          du puteaux	
    		</div>	
    		<div class="row" id="boxintroduction">
    			<div class="small-12">
    				    <center>	
    		          <div id="espace"></div>
    		        </center>
    		        <div id="introbottom">
    		        	<div id="sizefont">  Bienvenus </div>
                  La Chorale Chœur de Joie vous accompagne et accompagne ses membres dans les évènements joyeux ou douloureux de la vie.
    				          	
    		        </div>
                <div id="line"></div>
                <div id="contacteznousfont">  Contactez-nous </div>
                <div id="contacteznous">
                  Chorale Chœur de Joie est disponible pour des spectacles dans lÎle-de-France et au-delà.
                </div>
                <div id="line"></div>
                <div id="contacteznousfont">  Rejoignez-nous </div>
                <div id="contacteznous">
                  Vous souhaitez vous joindre à d'autres, pour travailler votre voix, chanter à plusieurs voix,apprendre de nouveaux chants ? contactez-nous et rejoignez-nous !
                </div>
    			</div>
    		</div>
    	</div>
    </div>
  </div>

<!-- colonne  gauche -->
  <div>
    
  
  <div class="small-11 large-offset-1 " id="leftbox" style="border: 2px solid red;">  	
    <div class="content">
      <div class="navcontent" id="top">
          <ul> 
            <li><a href="#">Connexion</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Photos</a></li>
            <li><a href="#">Concert</a></li>
            <li><a href="#" >Accueil</a></li>
          </ul>
      </div>
      <br><br>
      <div id="contentbloc">
        
         <span>
           <img src="/assets/eglise.jpg" alt="" style="float:left;margin-top:13%">
         </span>
         <span style="float:right; padding-left:30%;margin-top:-78%">
          <h2>A propos de nous </h2>
          <p style="text-indent:5%; color:black;font-family:'Miso Light';line-height: 18px;">
             Le groupe Chorale Chœur de Joie est une chorale paroissiale, mixte constituée,  chantant en quator comme la plupart des autres chorales : les sopranes – les altis – les ténors et les basses. Plusieurs nationalités s’y retrouvent. Le répertoire tient compte de cette diversité avec des chants aussi bien en français, latin, créole des Antilles, créole portugais et africain (sénégalais, ivoirien etc…)
              La diversité culturelle est une richesse humaine, morale et spirituelle.
          </p>
          <p style="text-indent:5%; color:black;font-family:'Miso Light';line-height: 18px;">
            La chorale choeur de joie réalise plusieurs ativités : l’animation de la messe dans les trois paroisses de Puteaux.
            Des cérémonies liturgiques : baptêmes, 1ère communion, profession de foi, mariages, messes de requiem ... .
            Des concerts dont les principaux : noël, et en hommage à Marie. Les choristes aiment, aussi, se retrouver ensemble lors d’autres activités : messes en dehors de Puteaux (Chartres, Lisieux) repas conviviaux, barbecues, sorties de fin d’année.

          </p>
          <p style="text-indent:5%; color:black;font-family:'Miso Light';line-height: 18px;">
           La responsabilité administratrice est assurée par une équipe restreinte de 4 membres élus en assemblée générale pour un an.L’adhésion à la chorale nécessite une autonomie et une régularité aux répétitions et aux activités organisées par le groupe. Votre disponibilité est donc de rigueur.
          </p>
          <p style="text-indent:5%; color:black;font-family:'Miso Light';line-height: 18px;">
           La séance e répétition est le rendez-vous par excellence de la chorale.Elle comporte 3 principales séquences : un échauffement vocal, une répétition par pupitres et une mise en commun du chœur.Les répétitions ordinaires se tiennent tous les vendredis de 20H30 à 23H00 et nécessitent une préparation personnelle de chaque choriste avant une implication individuelle dans leur conduite.Les séances de répétitions de la chorales Chœur de Joie sont dirigées par la maîtresse de chœur Angèle GOUDIABY.
          </p>
         </span>
         

         
      </div>
    </div>

  </div>
  </div>


</div> <!-- page  -->