
/***************** FontFace  **********************/
@font-face {font-family:"Miso Light";
src:url("miso-light.eot?") format("eot"),
url("miso-light.woff") format("woff"),
url("miso-light.ttf") format("truetype"),
url("miso-light.svg#Miso-Light") format("svg");font-weight:bold;font-style:normal;}



/**************Background image ******************/
body { 

  margin:0;
  padding:0;
  background: url(plan.jpeg) no-repeat center fixed; 
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
  background-attachment : fixed;
}



/******************** Navigation Bar css *******************/
ul {
 padding:0;
 margin:0;
 list-style-type:none;
 }

li {
 margin-left:2px;
 float:right; /*pour IE*/
 }

ul li a {
 display:block;
 float:right;   
 width:133px;
 background-color:#891818;
 color:white;
 text-decoration:none;
 text-align:center;
 padding:1px; 
 font-family:'Miso Light';
 font-size: 15px;
 }
h2{
	 font-family:'Miso Light';
}
ul li a:hover {
 background-color:white;
 color:black;
 } 

#boxright{
	color:white;
	background-color: #891818;
	padding:20px;
	text-align: center;
	font-family:"Miso Light";
	margin-bottom:20px;
	height: 720px

}
#espace
{
margin-bottom:10px;
border-bottom: 1px solid white;
margin-right: 10%;
margin-left: 10%

}

#titlebottom{
	margin-top:10px;
	margin-bottom:20px;
	font-size: 25px;
}
#introbottom{
	
	padding:30px;
	font-size: 18px;
}
#sizefont
{
margin-bottom: 10px;
font-size: 25px
}
#contacteznousfont
{
margin-top: 13%;
font-size: 25px
}
#line
{
border-bottom: 1px solid white;
margin-right: 25%;
margin-left: 25%;
margin-top: 15px;
margin-bottom:20px;
}

#contacteznous
{
font-size: 18px;
margin-top: 4%;
padding-right:30px;
padding-left: 30px;
margin-bottom: 12%
}

#leftbox
{
color:white;
}

#top{
	margin-top: 4%;
	
}
#contentbloc{
	padding:2%;
	margin-top: 2%;
    margin-left: 26%;
    height:629px;
    width:74%;
    background-color: rgba(255,255,255,0.8);

}

#paragraphe{
	text-indent:5%; color:black;font-family:'Miso Light';line-height: 20px;
}
#apropos{
float:right; padding-left:30%;margin-top:-80%
}
#img{
float:left;margin-top:13%
}

#concertbloc1{
    margin-left: 10%;
	color:black;
	font-family: 'Miso Light';
	line-height: 1%;
}

#concertbloc2{
	margin-right: 3%;
	color:black;
	font-family: 'Miso Light'
}

#lineblocconcert{
	border-bottom: 1px solid black;
	margin-right: 25%;

}

#paddingline{

    margin-top: -18px;

}

#bloc34{margin-top: -70%;}
#bloc56{margin-top: -38%;}

/*  formulaire de contact */

/* form starting stylings ------------------------------- */
.group        { 
 font-family: 'Miso Light' !important;
  position:relative; 
  margin-bottom:45px; 
}
input         {
  font-size:25px !important;
  padding:10px 10px 10px 5px !important ;
  display:block !important;
  width:500px !important;
  background-color:transparent !important;
  border:none !important;
  border-bottom:1px solid #757575 !important;
  box-shadow: none !important;
  font-family: 'Miso Light' !important;
}
input:focus { outline:none !important; }

/* LABEL ======================================= */
label          {
  color:#999; 
  font-size:22px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
}

/* active state */
input:focus ~ label, input:valid ~ label     {
  top:-20px;
  font-size:25px;
  color:#891818;
}

/* BOTTOM BARS ================================= */
.bar  { position:relative; display:block; width:500px; }
.bar:before, .bar:after   {
  content:'';
  height:2px; 
  width:0;
  bottom:16px; 
  position:absolute;
  background:#891818; 
  transition:0.2s ease all; 
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%}

  /* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:80%; 
  width:100px; 
  top:35%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@keyframes inputHighlighter {
  from  { background:#891818; }
  to    { width:0; background:transparent; }
}

#form{

    margin-left: 10%;
    margin-top: 5%;

}

textarea {
  font-size:20px !important;
   height: 230px !important
   ;
  width:500px !important;
  background-color:transparent !important;
  border:none !important;
  border-bottom:1px solid #757575 !important;
  box-shadow: none !important;
  font-family: 'Miso Light' !important;
}

textarea:focus { outline:none !important; }
/* active state */
textarea:focus ~ label, input:valid ~ label     {
  top:-40px;
  font-size:25px;
  color:#891818;
}

textarea:focus ~ .bar:before, textarea:focus ~ .bar:after {
  width:50%}

  textarea:focus ~ .highlight {
  animation:inputHighlighter 0.3s ease;
}

#button{
	cursor: pointer;
	font-weight:900px!important;
	color:#891818;
}
#gallery{

    position: absolute;
    /* right: 0; */
    /* top: 0; */
    /* left: 0; */
    bottom: 0;

}

#paddinglinealbum{

    margin-top: 2px;

}